.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  /* layout.css */
header {
  background-color: var(--dark1);
  color: var(--light1);
  padding: 20px;
}

footer {
  background-color: var(--dark2);
  color: var(--light1);
  text-align: center;
  padding: 20px 0;
}
